* {
  -moz-user-select: none;
  -webkit-user-select: none;
}

#main-toolbar #activity-button {
  background-image: url(../activity/activity-lasermirror.svg);
}

#mirrors-count-button {
  background-image: url(../img/mirror1.png);
}

#triangles-count-button {
  background-image: url(../img/triangle1.png);
}

#clear-button {
  background-image: url(../img/clear-board.svg);
}

#canvas {
  text-align: center;

  position: relative;
  margin: 0px auto 0px;
  border: 0px 0px;

  width: 100%;
}

#points div {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  display: inline-block;
  margin-left: 2px;

  position: absolute;
  top: 0;
  left: 0;
}

.dialog {
  display: none;
  position: absolute;
  z-index: 50;
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  box-sizing: border-box;
  width: 500px;
  text-align: center;
  line-height: 1.5em;
  padding: 25px 60px;
  border: 1px solid #000;
  font-size: 1.25em;
  background-color: #C0C0C0;
}

.dialog button {
  font-size: 0.9em;
  margin-top: 20px;
  width: 160px;
}